* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 
}


header {
padding: 0px;
font-family: "Franklin Gothic Medium", Arial, Helvetica, sans-serif;
font-size: 24px;
font-weight: bold;
color: #000000;
background: #fadadd;
text-align: center;
}

nav {
font-family: "Franklin Gothic Book", Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: #d8d8d8;
  
}


.col-12 {
    width: 50%;
}


/*
  These rules take effect when the browser's width
  is either 768px or less.
*/
@media screen and (max-width: 768px) {
    /* The body's bg color will be #333 */
    body {
      background-color: #333;
    }
  
    /* The wrapper's width will be 600px */
    .wrapper {
      width: 600px;
    }
  }